@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D1117;
  --foreground: #C9D1D9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

.gradient-text {
  background: linear-gradient(45deg, #58A6FF, #79C0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
